
        *{ box-sizing: border-box;}

        body{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            overflow: scroll; 
        
        }

        .container{
            display: flex;
            max-width: 1000px auto;
            
        }

        .pannel{
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 20rem;
            border-radius: 50px;
            color: white;
            cursor: pointer;
            flex: 0.5;
            margin: 5px;
            position: relative;
            transition: flex 0.8s ease-in-out;
            border: 1px solid black;

        }

        .pannel h3 {
            font-size: 24px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            margin: 0;
            opacity: 0;
        }

       .pannel.active{
            flex: 5;
            border: 2px solid red;
        }

        .pannel.active h3{
            opacity: 1;
            transition: opacity 0.3s ease-in 0.4s;
        }
        @media(max-width: 480px){
            .container{
                width: 100vw;
            }
            .pannel:nth-of-type(4),.pannel:nth-of-type(5){
                display: none;
            }
        }

.dog{
    height: 350px;
    width: 350px;
    border-radius: 1rem;
    border: 2px solid black;
}

.rotate-nav{
    transform-origin: top left;
    transition: transform 0.5s linear;
    width: 100vw;
    padding: 50px;
}

.rotate-nav .show{
    transform: rotate(-20deg);
}

.circle-container{
    position: fixed;
    top: -100px;
    left: -100px;
}

.circle{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    transition: transform 0.5s linear;

}

.circle button{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: white;
    cursor: pointer;
}

.circle button:focus{
    outline: none;
}

.circle button#open{
    left: 60%;
}

.circle button#close{
    top: 60%;
    transform: rotate(90deg);
    transform-origin: top left;
}

/* .content img{
    max-width: 100%;
} */

.content{
    max-width: 1000px;
    margin: 50px auto;
}